<h4 style="display: flex; justify-content: center;">Create New Blog</h4>
<hr />
<div class="row" style="display: flex; justify-content: center;">
    <div class="col-md-4">
        <form [formGroup]="blogForm" (ngSubmit)="add()" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Başlık</label>
                <input class="form-control" formControlName="title" required/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">İçerik</label>
                <textarea id="textarea" cols="90" rows="10" class="form-control" formControlName="body" required></textarea>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="image" class="control-label">Fotoğraf</label>
                <input type="file" class="form-control" (change)="onFileSelected($event)" required/>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Kategori</label>
                <select class="form-control" formControlName="categoryId"  required>
                    <option hidden="" value="" disabled selected>Lütfen kategori seçin</option>
                    <option *ngFor="let category of categoryList" [value]="category.id">{{ category.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a [routerLink]="['/blogs']" style="display: flex; justify-content: center;">Anasayfaya dön</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/summernote.js"></script>